<section style="background-color: white; height: auto; padding: 12% 0 50px 0">
  <div class="container-xxl">
    <div
      class="row justify-content-center align-self-center"
      style="text-align: center; margin-top: 20px"
    >
      <div
        class="col-10 first-section justify-content-center align-self-center"
      >
        <h1>Proyectos de Educación</h1>
        <h2>
          Brindamos herramientas para el aprendizaje, formación y educación
          mediante talleres educativos y productivos dirigidos a los más
          vulnerables.
        </h2>
        <button>Deseo donar a este proyecto</button>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex"
  style="
    background-color: white;
    background-image: url('/assets/images/layouts/proyectos-bg.png');
    background-position: center;
    background-size: 80% 80%;
  "
>
  <div class="container-xxl d-flex">
    <div class="row justify-content-center align-self-center">
      <div
        class="col-6 second-section justify-content-center align-self-center"
      >
        <h1>Salvando Talentos</h1>
        <h5>
          Desarrollamos el proyecto Salvando Talentos con el objetivo de brindar
          apoyo a los jóvenes talentos de bajos recursos que viven en
          provincias, en su formación como futbolistas profesionales.
        </h5>
        <h5>
          Nos encargamos de cubrir sus gastos relacionados a formación,
          educación, alimentación y transporte. De igual forma los apoyamos en
          su proceso de reclutamiento y entrenamiento como futbolistas
          profesionales.
        </h5>
        <h5>
          Actualmente son más de 20 jóvenes beneficiados de forma mensual.
        </h5>
      </div>
      <div class="col-1"></div>
      <div
        class="col-5 second-section justify-content-center align-self-center"
      >
        <ngb-carousel *ngIf="imagesTemplate" [interval]="5000">
          <ng-template
            ngbSlide
            *ngFor="let image of imagesTemplate.second_section.slider"
          >
            <div class="picsum-img-wrapper wrapper-image-carousel">
              <img [src]="image.src" class="image-carousel" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex"
  style="
    background-color: #f3fcff;
    background-image: url('/assets/images/layouts/proyectos-bg-celeste.png');
    background-position: center;
    background-size: 100% 100%;
  "
>
  <div class="container-xxl d-flex">
    <div class="row justify-content-center align-self-center">
      <div
        class="col-5 second-section justify-content-center align-self-center"
      >
        <ngb-carousel *ngIf="imagesTemplate" [interval]="5000">
          <ng-template
            ngbSlide
            *ngFor="let image of imagesTemplate.third_section.slider"
          >
            <div class="picsum-img-wrapper wrapper-image-carousel">
              <img [src]="image.src" class="image-carousel" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-1"></div>
      <div
        class="col-6 second-section justify-content-center align-self-center"
      >
        <h1>Educando para el futuro</h1>
        <h5>
          Trabajamos en desarrollar diferentes actividades donde las comunidades
          vulnerables tengas acceso a una educación integral.
        </h5>
        <h5>
          Para nosotros es fundamental brindar empoderamiento a través de la
          educación y de la enseñanza de nuevas destrezas o habilidades,
          fortaleciendo el desarrollo integral de las poblaciones en situación
          de riesgo e inculcando valores.
        </h5>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex"
  style="
    background-color: white;
    background-image: url('/assets/images/layouts/proyectos-bg.png');
    background-position: center;
    background-size: 80% 80%;
  "
>
  <div class="container-xxl d-flex">
    <div class="row justify-content-center align-self-center">
      <div
        class="col-6 second-section justify-content-center align-self-center"
      >
        <h1>Tejiendo Sueños</h1>
        <h5>
          A través de nuestra labor otorgamos talleres de emprendimiento
          (costura, tejidos, repostería, maquillaje, entre otros) a madres en
          estado de vulnerabilidad, ya sea por su condición económica o por ser
          víctimas de maltrato de género, de forma que puedan emprender su
          propio negocio y generar ingresos para sus familias, sin depender de
          un tercero.
        </h5>
        <h5>
          Actualmente se benefician más de 40 mujeres de forma mensual con
          nuestros talleres desarrollados en diversas comunidades.
        </h5>
      </div>
      <div class="col-1"></div>
      <div
        class="col-5 second-section justify-content-center align-self-center"
      >
        <ngb-carousel *ngIf="imagesTemplate" [interval]="5000">
          <ng-template
            ngbSlide
            *ngFor="let image of imagesTemplate.fourth_section.slider"
          >
            <div class="picsum-img-wrapper wrapper-image-carousel">
              <img [src]="image.src" class="image-carousel" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex"
  style="
    background-color: #fef6df;
    background-image: url('/assets/images/layouts/bg-nosotros3.png');
    background-position: center;
    background-size: 100% 100%;
  "
>
  <div class="container-xxl d-flex">
    <div class="row justify-content-center align-self-center">
      <div
        class="col-5 second-section justify-content-center align-self-center"
      >
        <ngb-carousel *ngIf="imagesTemplate" [interval]="5000">
          <ng-template
            ngbSlide
            *ngFor="let image of imagesTemplate.fifth_section.slider"
          >
            <div class="picsum-img-wrapper wrapper-image-carousel">
              <img [src]="image.src" class="image-carousel" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-1"></div>
      <div
        class="col-6 second-section justify-content-center align-self-center"
      >
        <h1>Talleres Productivos</h1>
        <h5>
          Junto con el apoyo del Poder Judicial, desarrollamos talleres
          productivos dentro de los Centros de Rehabilitación Juvenil, con el
          fin de brindarles a los jóvenes, herramientas para el trabajo. Se les
          apoya con reforzamiento educacional basado en valores para su positiva
          reinserción en la sociedad.
        </h5>
        <h5>
          El hambre es una problemática que viene creciendo rápidamente en el
          mundo.
        </h5>
        <h5>
          Impactamos las vidas de más de 1.000 jóvenes al año, desarrollando
          talleres en Lima, Cusco, Trujillo, Arequipa y Piura.
        </h5>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex"
  style="
    background-color: white;
    background-image: url('/assets/images/layouts/proyectos-bg.png');
    background-position: center;
    background-size: 80% 80%;
  "
>
  <div class="container-xxl d-flex">
    <div class="row justify-content-center align-self-center">
      <div
        class="col-6 second-section justify-content-center align-self-center"
      >
        <h1>Donación de útiles escolares</h1>
        <h5>
          Estamos comprometidos con la educación y con hacer asequible para
          todas las familias el regreso a clases. Por ello año tras año
          realizamos una jornada masiva de donación de útiles escolares en las
          zonas más vulnerables, con el objetivo de llevar a cada niño las
          herramientas necesarias para su educación integral.
        </h5>
        <h5>
          Cada año beneficiamos a más de 1.000 niños con la entrega de útiles
          escolares básicos, mochilas y zapatos, en zonas vulnerables tanto de
          Lima como de provincias.
        </h5>
      </div>
      <div class="col-1"></div>
      <div
        class="col-5 second-section justify-content-center align-self-center"
      >
        <ngb-carousel *ngIf="imagesTemplate" [interval]="5000">
          <ng-template
            ngbSlide
            *ngFor="let image of imagesTemplate.sixth_section.slider"
          >
            <div class="picsum-img-wrapper wrapper-image-carousel">
              <img [src]="image.src" class="image-carousel" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex"
  style="
    background-color: #f3fcff;
    background-image: url('/assets/images/layouts/proyectos-bg-celeste.png');
    background-position: center;
    background-size: 100% 100%;
  "
>
  <div class="container-xxl d-flex">
    <div class="row justify-content-center align-self-center">
      <div
        class="col-5 second-section justify-content-center align-self-center"
      >
        <ngb-carousel *ngIf="imagesTemplate" [interval]="5000">
          <ng-template
            ngbSlide
            *ngFor="let image of imagesTemplate.seventh_section.slider"
          >
            <div class="picsum-img-wrapper wrapper-image-carousel">
              <img [src]="image.src" class="image-carousel" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-1"></div>
      <div
        class="col-6 second-section justify-content-center align-self-center"
      >
        <h1>Talleres en centros comerciales</h1>
        <h5>
          Llevamos a cabo talleres educativos contando con centros comerciales
          aliados, que nos brindan sus espacios para hacerle llegar al público
          en general diferentes actividades, donde incentivamos los valores y
          buenas costumbres. Realizamos talleres para niños donde enseñamos la
          importancia del reciclaje y cuidado ambiental, talleres de
          emprendimiento y mucho más
        </h5>
        <h5>
          Hemos contado con Aliados del Cambio como C.C Plaza Norte, C.C Mall
          del Sur, C.C Jockey Plaza, C.C Mall de Santa Anita, C.C Open Plaza,
          C.C El Quinde (Cajamarca) y más.
        </h5>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex"
  style="background-color: #50ba80; background-position: center"
>
  <div class="container-xxl">
    <div
      class="row justify-content-center align-self-center"
      style="width: 100%"
    >
      <div
        class="col-12 third-section justify-content-center align-self-center"
      >
        <h1>Enseñar es dejar una huella positiva</h1>
      </div>
    </div>
  </div>
</section>
