.eigth-section {
  img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 25px;
  }
  p {
    color: white;
  }
  h1 {
    color: #d0dee3;
    font-family: "Roboto", Sans-serif;
    font-size: 62px;
    font-weight: 800;
    text-transform: none;
    line-height: 62px;
  }
  button {
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    background-color: #fab50000;
    border-style: solid;
    fill: #d0dee3;
    color: #d0dee3;
    border-color: #d0dee3;
    border-radius: 10px 10px 10px 10px;
    padding: 12px 24px;
  }
}

.icons {
  justify-content: space-between;
  width: 50%;
  a {
    background-color: #02010100;
    font-size: 50px;
    line-height: 25px;
    text-decoration: none;
  }
  i {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    color: #fff;
  }
}

.footer-container {
  margin: 0px 20px 0px 20px;
  padding: 20px 0px 20px 0px;
  border-style: solid;
  border-width: 0.5px 0px 0.5px 0px;
  border-color: #ffffff;
  text-align: center;
  p {
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #ffffff;
  }
}

.footer_information {
  display: flex;
  width: 100%;
  background-color: #7acbe6;
  line-height: 25px;
  color: white;
  padding: 10px 0;
  .row {
    width: 100%;
    div {
      padding: 0;
      margin: 0;
    }
    p {
      font-size: 16px;
      margin: 0 0 0 040px;
      font-weight: 600;
      font-family: "Quicksand";
    }
  }
}

.footer-links {
  line-height: 40px;

  li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    a {
      color: white;
    }
  }
}
